footer.footer
  .footer__logo
    img(src='/img/logo-grey.png' alt='Trucuize logo')
  ul.footer__nav
    li: a(href='#') About Trucruize
    li: a(href='#') Download apps
    li: a(href='#') Become a guide
    li: a(href='#') Work with us
    li: a(href='#') Reach us
  p.footer__copyright &copy; by Kluivstar